<script type="text/javascript">
		$(document).ready(function setMainImage() {
	    	document.getElementById("selectedImage").innerHTML = imagesArray[0].path;
		});
		var imagesArray = [];
</script>

<% @sliderimages.each do |sliderimage| %>
	<script type="text/javascript">
			imagesArray.push({	id: '<%= sliderimage.id %>',path: '<%= image_tag sliderimage.image.slider, class: "img-responsive" %>'});
	</script>
<% end %> 

	<script type="text/javascript">
	
	</script>
	
<div class="leftsection col-md-3 col-lg-2 col-lg-offset-1 col-xs-offset-0">
	<div class="row">
		<div class="logo col-xs-offset-2 col-md-offset-0 col-md-12 img-responsive">
			<%= image_tag "LOGO.jpg", class: "limg" %>
		</div>
	</div>

	<div class="row">
		<div class="contact col-xs-offset-2 col-md-offset-0 col-md-12 ">
			 <div>
			 	<span><%= image_tag "location.png", class: "icon img-responsive" %></span><span>400 BRANNAN ST. SUITE 204  </span>
			  <p> SAN FRANCISCO, CA 94107</p> 
			  </div>
			 <div><span><%= image_tag "phone.png", class: "icon" %>405 - 503 - 1678 </span></div>
			 <div><span><%= image_tag "mail.png", class: "icon" %> mksokc@gmail.com </span></div>
		</div>
	</div>

	<div class="row">
		<div class="services col-xs-offset-2 col-md-12 col-md-offset-0">
			<h4 > Large Format Printing Services </h4>
			<hr >

			
			<br>
			<span> <%= image_tag "check.png", class: "icon2" %>  OVERSIZED INKJET PRINTS </span><br>
			<span><%= image_tag "check.png", class: "icon2" %>  PHOTOGRAPHY </span><br>
			<span><%= image_tag "check.png", class: "icon2" %>  ART SERIES </span><br>
			<span><%= image_tag "check.png", class: "icon2" %> SHORT RUN POSTERS </span><br>
			<span><%= image_tag "check.png", class: "icon2" %>FULL COLOR AND 2 COLOR "TRASH" STICKERS </span> <br>
			<span><%= image_tag "check.png", class: "icon2" %> WALLPAPER </span><br>
			<span><%= image_tag "check.png", class: "icon2" %> TEXTILE ART PRINTS </span><br>
			<span><%= image_tag "check.png", class: "icon2" %> (NATURAL CANVAS, SILK, COTTON, MESH BANNERS) </span><br>
			<span><%= image_tag "check.png", class: "icon2" %> MORE!!!</span> <br>
		</div>
	</div>
</div>

<div class="mainsection col-xs-12 col-md-6 col-lg-6">
	<div id='mainImage' class=" col-xs-12  col-xs-offset-1 col-md-12 col-md-offset-0 col-lg-9">
		<div id="selectedImage" >
		<%= image_tag 'hweight2.jpg' %>
		</div>
	</div>
	<div class='thumbcolumn col-md-12 col-lg-3' >
	<ul class="col-md-12" >
	<% @sliderimages.each do |thumbnail| %>
		<a  onclick="changeImage(<%= thumbnail.id %>)">
			<li  ><%= image_tag  thumbnail.image.thumb, class: "img-responsive" %></li>
		</a>
	<% end %>
 	</ul>
	</div>
</div> 

<div class="rightsection col-xs-12 col-md-2 col-lg-3">
	<div class="row">

		<div class="right1 col-xs-offset-3 col-md-offset-0 btn" data-toggle="modal" data-target="#priceSheet">
			<%= image_tag "pricesheet.png", class: "rightbuttons" %>
		</div>
		<div class="modal fade" id="priceSheet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal1" role="document">
				<div class="modal-content">
				    <div class="modal-header">
	            		<div type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><%= image_tag "close.png", class: "closebutton btn" %></span></div>
	            		<h4 class="modal-title qsect1" id="myModalLabel">Price Sheet</h4>
	          		</div>
	          		<div class="qsect2 ">
	          		</div>
	          		<div class="modal-body" style="max-height:100%">
						<%= render partial: 'layouts/pricesheet' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div type="button" class=" col-xs-offset-3  col-md-offset-0 right2 btn" data-toggle="modal" data-target="#myModal">
		 <%= image_tag "requestaquote.png", class: "rightbuttons" %>
		</div>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal2" role="document">
				<div class="modal-content">
				    <div class="modal-header">
	            		<div type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><%= image_tag "close.png", class: "closebutton btn" %></span></div>
	            		<h4 class="modal-title qsect1" id="myModalLabel">Request a Quote</h4>
	          		</div>
	          		<div class="modal-body">
	          			<div class="qsect2 ">
	           			 	<p> "Hi there, in order to best serve you please submit a quote request.</p>

	          			</div>
	          			<hr>
						<%= render partial: "requests/form", locals: { request: @request } %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="right3">
			<h4> Follow us On Social Media </h4>
			<ul>
				<li> <a href="https://www.facebook.com/strangecessation"><%= image_tag "facebook.png", class: "icon" %></a></li>
				<li> <a href="#"><%= image_tag "twitter.png", class: "icon" %></a></li>
				<li><a href="https://www.instagram.com/strange_cessation_/"><%= image_tag "instagram.png", class: "icon" %></a></li>
			</ul>
		</div>

	</div>
</div>

<%= javascript_include_tag "home" %>





