 
<%= form_for (Quote.new) do |f| %>
  <% if Quote.new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(Quote.new.count, "error") %> prohibited this quote from being saved:</h2>
      <ul> 
        <% Quote.new.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="qsect3">
      <div class="qsect3_form">
        <div class="row">
          <div class="field col-xs-4">
            <%= f.label :name %>:
            <%= f.text_field :name, class: 'forminput' %>
          </div>
          <div class="field col-xs-4 ">
            <%= f.label :email %>:
            <%= f.text_field :email, class: 'forminput' %>
          </div>
          <div class="field col-xs-4">
            <%= f.label :address %>:
            <%= f.text_field :address, class: 'forminput' %>
          </div>
        </div>
        <div class="row">
          <div class="field col-xs-4">
            <%= f.label :city %>:
            <%= f.text_field :city, class: 'forminput' %>
          </div>
          <div class="field col-xs-4">
            <%= f.label :state %>:
            <%= f.text_field :state, class: 'forminputsm' %>
          </div>
          <div class="field col-xs-4">
            <%= f.label :region %>:
            <%= f.text_field :region, class: 'forminputsm' %>
          </div>
        </div>
      </div>
    </div>
    

    <div class="qsect4">
      <div class="col-md-6 leftq">
        <p> What would you like printed? </p> <%= f.text_field :question1, class: 'forminput' %>
        <p> What Size do you need the print? </p> <%= f.text_field :question2, class: 'forminput' %>
        <p> What Type of paper or material? </p> <%= f.text_field :question3, class: 'forminput' %>
        <p> How many of each item? </p> <%= f.text_field :question4, class: 'forminput' %>
        <p> Do you want your print cropped to bleed or with extra space? <a> example </a> </p> <%= f.text_field :question5, class: 'forminput' %>
        <p> Do you need strips? ($5.00 extra) </p> <%= f.text_field :question6, class: 'forminput' %>
        <!-- <p> Question7: </p> <%= f.text_field :question7, class: 'forminput' %> -->
      </div>
      <div class="col-md-6 rightq">
        <p> Would you need a delivered or shipped order? </p> <%= f.text_field :question8, class: 'forminput' %>
        <p> When did you need order completed by? </p> <%= f.text_field :question9, class: 'forminput' %>
        <!-- <p> Question:10 </p> <%= f.text_field :question10, class: 'forminput' %>
        <p> Question11: </p> <%= f.text_field :question11, class: 'forminput' %>
        <p> Question12: </p> <%= f.text_field :question12, class: 'forminput' %>
        <p> Question13: </p> <%= f.text_field :question13, class: 'forminput' %>
        <p> Question14: </p> <%= f.text_field :question14, class: 'forminput' %> -->
        <p> Add an Image <p>
        <%= f.file_field :image %>
        <p> + More Images <p>
      </div>
    </div>

    <div class="row">
      <div class="modal-footer">
        <div type="button">
          <%= image_submit_tag "submit.png" , class: "submitbutton" %>
        </div>
      </div>
    </div>
<% end %>

