<% if logged_in? %>
  <div class="quoteicons">
    <div class="newquotes">
      New Quotes <p><% @quotes %></p>
    </div>
  </div>

  <div class="userleftpanel col-xs-2 col-sm-4">
    <p id="notice"><%= notice %></p>
    <h1> Welcome <%= current_user.username %> </h1>
    <%= image_tag current_user.avatar %>
    <div class="row">
    <script>
      function switchSettings() {
        if(document.getElementById('settings').style.visibility= 'hidden') {
          console.log(document.getElementById('settings').style.visibility);
          document.getElementById('settings').style.visibility = "visible"
        };
      }
    </script>
      <a onclick="switchSettings()"> Settings </a>
      <div id="settings">
        <%= render :partial => "users/form", :locals => { :user => @user } %>
      </div>
    </div>
  </div>
  <div class="quotes col-xs-10 col-md-8">
  <% @quotes.each do |quote| %>
    <div class="quote">
      <div class="row">
        <span> Name: <%= quote.name %> </span>
        <span> Email: <%= quote.email %> </span>
        <span> City: <%= quote.city %></span>
        <%= link_to 'Show', quote %>
        <%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
