<div class ="log_in_form ">
	<%= form_for(:session, url: login_path) do |f| %>
		<%= f.label :username %>
		<%= f.text_field :username %>
		<%= f.label :password %>
		<%= f.password_field :password%>
		<div class="col-xs-offset-10 col-sm-offset-0">
			<%= f.submit "Log in", class: "btn orange btn-sm" %>
		</div>
	<% end %>
</div>     
