 
<%= form_for (Request.new) do |f| %>
  <% if Request.new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(Request.new.count, "error") %> prohibited this request from being saved:</h2>
      <ul> 
        <% Request.new.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="qsect3">
      <div class="qsect3_form">
        <div class="row">
          <div class="field col-xs-4">
            <%= f.label :name %>:
            <%= f.text_field :name, class: 'forminput' %>
          </div>
          <div class="field col-xs-4 ">
            <%= f.label :email %>:
            <%= f.text_field :email, class: 'forminput' %>
          </div>
          <div class="field col-xs-4">
            <%= f.label :address %>:
            <%= f.text_field :address, class: 'forminput' %>
          </div>
        </div>
        <div class="row">
          <div class="field col-xs-4">
            <%= f.label :city %>:
            <%= f.text_field :city, class: 'forminput' %>
          </div>
          <div class="field col-xs-4">
            <%= f.label :state %>:
            <%= f.text_field :state, class: 'forminputsm' %>
          </div>
          <div class="field col-xs-4">
            <%= f.label :region %>:
            <%= f.text_field :region, class: 'forminputsm' %>
          </div>
        </div>
      </div>
    </div>
    

    <div class="qsect4">
      <div class="col-md-6 leftq" ng-controller="QuestionCtrl">
    
     
    
        <% @questions[0..6].each do |question| %>
       
          <div>
            <% if question.image.blank? %>
              <%= question.content %>
              <%= f.fields_for :answers, Answer.new do |ff| %>
               <% if question.answer_type == "Regular" %> 
                <%= ff.text_field :answer, class: 'form-control' %>
                <% elsif question.answer_type == "Dropdown" %>
                    <%= ff.collection_select( :answer, question.choices[0..question.choices.length-2] , :id, :body, {:selected => question.choices[0]}) %>
                <% elsif question.answer_type == "Radio" %>
                  <% @questions.each do |question| %>
                 <%= ff.radio_button( :answer, :body) %>
                 <% end %>
                <% else %>
                 <%= ff.text_field :answer, class: 'form-control' %>
                <% end %>
                <%= ff.hidden_field :question, :value =>  question.content %>
              <% end %>
            <% else %>
              <%= question.content %>
              <%= f.fields_for :answers, Answer.new do |ff| %>
                
                <%= ff.hidden_field :question, :value =>  question.content %>
              <% end %>
             
              <span  data-toggle="modal" data-target="#<%= question.id %>">
                <a> Example </a>
             </span> 
              <div class="modal fade" id="<%= question.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal1" role="document">
                  <div class="modal-content">
                    <div class="modal-body" style="height:100%">
                        <%= image_tag question.image.example %>
                    </div>
                  </div>
                </div>
              </div>
              <%= f.fields_for :answers, Answer.new do |ff| %>
                <%= ff.text_field :answer, class: 'form-control' %>
              <% end %>
            <% end %>
          </div>
        <% end %>
       
    
      
      </div>
      <div class="col-md-6 rightq">
      <% if @questions.length >= 6 %>
       <% @questions[6..@questions.length-1].each do |question| %>
        
          <div>
            <% if question.image.blank? %>
            <br>
              <%= question.content %>
               <%= f.fields_for :answers, Answer.new do |ff| %>
               <% if question.answer_type == "Regular" %> 
                <%= ff.text_field :answer, class: 'form-control' %>
                <% elsif question.answer_type == "Dropdown" %>
                <h2> dropdown </h2>
                <%= ff.select :answer, options_for_select([['Something'],['Something']]), {} %>
                <% end %>
                <%= ff.hidden_field :question, :value =>  question.content %>
              <% end %>
            <% else %>
              <%= question.content %>
              <span  data-toggle="modal" data-target="#<%= question.id %>">
              <%= f.fields_for :answers, Answer.new do |ff| %>
            
                <%= ff.hidden_field :question, :value =>  question.content %>
              <% end %>
                <a> Example </a>
             </span> 
              <div class="modal fade" id="<%= question.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal1" role="document">
                  <div class="modal-content">
                    <div class="modal-body" style="height:100%">
                        <%= image_tag question.image.example %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <%= f.fields_for :answers, Answer.new do |ff| %>
                <%= ff.text_field :answer, class: 'form-control' %>
              <% end %>
        <% end %> 
      <% end %>
       
      
        <p> Add an Image <p>
        <%= f.file_field :image %>
        <p> + More Images <p>
      </div>
    </div>

    <div class="row">
      <div class="modal-footer">
        <div type="button">
          <%= image_submit_tag "submit.png" , class: "submitbutton" %>
        </div>
      </div>
    </div>
<% end %>

