

<% if logged_in? %>
  <% @request.mark_as_read! :for => current_user %>
<button ng-click="closeDetail()">Close</button>
  <p>
    <strong>Name:</strong>
    <%= @request.name %>
    </p>

  <p>
    <strong>Email:</strong>
    <%= @request.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @request.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @request.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @request.state %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= @request.region %>
  </p>


   <p>
    <strong>Question & Answers:</strong>
    <% @request.answers.each do |answer| %>
    <p> Question: <%= answer.question %> </p>
    <p> Answer: <%= answer.answer %> </p>
    <% end %>
  </p>

  
  <%= image_tag  @request.image%>

<%= link_to "View PDF", request_path(@request, :format => "pdf") , :target => "_blank" %>

<a ui-sref="dashboard.requests.detail.edit({id: <%= @request.id %>})">Edit</a>

<% end %>
<div ui-view="main2"></div>

  