<!DOCTYPE html>
<html>
<head>
  <title>StrangeCessation</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, intial-scale=1, maximum-scale=1">
</head>
<body ng-app="StrangeCessation">
	<div class="container-fluid" ui-view="main">
		<div class="section1">
			<div class="heading">
				<%= image_tag "HEADER.jpg", class: "himg" %>
			</div>
		</div>

		<%= yield %>

		<hr>
	</div>
</body>
	<div class="footer ">
		<% if !logged_in? %>
			<script>
				$(document).ready(function () {
					document.getElementById("lgfields").style.visibility = "hidden";
				});
				function switchFields() {
					if(document.getElementById("lgfields").style.visibility == "hidden") {
						document.getElementById("lgfields").style.visibility = "visible"
					} else {
						document.getElementById("lgfields").style.visibility = "hidden"
					}; 
				}
			</script>
			<div>
			<span class="col-xs-offset-5 col-sm-offset-10">Strange Cessation</span>
				<span class="loginI" >
					<a onclick="switchFields()"><%= image_tag "login.png", class: "loginIcon loginImage" %></a> 
				</span>
				<div id="login" class="col-sm-offset-10">
					<div id="lgfields">
						<%= render partial: "sessions/new" %>
					</div>
				</div>
			</div>
		<% else %>
			<span>Strange Cessation</span>
				<div class="navigation">
					<a ui-sref="home">Home</a>
					<a ui-sref="quotes">Quotes</a>
					<a ui-sref="users">Users</a>
		    		<%= link_to "Log out", logout_path, method: "delete" %>
		  		</div>
		<% end %>
	</div>

</html>
